@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

  li {
    padding: 5px 0px;
  }

  td {
    padding: 5px 5px;
  }

  .starwar {
    background-image: url("../images/theforceawaken_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
  }

  .container {
    width: 100%;
  }

  .sw.row {
    margin-bottom: 0px;
  }

  .brand-logo {
    margin-top: 20px;
    width: 22%;
  }

  img.forceChar{
    width: 690px;
    height: 580px;
  }

  .info {
    border: 2px solid rgba(81, 229, 133, 0.3);
    padding: 20px;
    background-color: rgba(45, 240, 54, 0.3);
    box-shadow: 0 0 10px #9ecaed;
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: 2px 2px black;
  }

  .footer-copyright {
    padding: 10px 0px;
    background-color: #191919;
    margin-top: -6px;
  }


@media only screen and (max-width: 600px) {

  .container {
    width: 100%;
  }

  .starwar {
  background-image: url("../images/sw.jpg");
  color: #ffffff;
  background-repeat: repeat;
  }

  .brand-logo {
    margin-top: 20px auto;
    width: 50%;
    margin-left: 25%;
  }

  img.forceChar{
    width: 100%;
    height: 300px;
  }

  .info {
    width: 103%;
    margin-top: -6px;
  }

  .row.col {
    padding:0px;
  }

}
